.title {
    background-color: #33ff33;
    color: #ffffff;
}
#use {
    background-color: #33ff33;
    border-radius: 30px;
    color: #ffffff;
}
.showEffectImage {
    border-radius: 3px;
    width: 50%;
    display: inline-block;
    float: left;
}
.showEffectText {
    display: inline-block;
    border-radius: 3px;
    width: 50%;
    border: #ccc;
    float: right;
}
.showUiText {
    display: inline-block;
    border-radius: 3px;
    width: 50%;
    border: #ccc;
    float: left;
}
.showUiImage {
    border-radius: 3px;
    width: 50%;
    display: inline-block;
    float: right;
}
h6 {
    color: gray;
    float: right;
}
#signInOut {
    background-color: #33ff33;
    color: #ffffff;
}
